{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        <h2>Open Account</h2>
        <form method="post">
            {{ form.hidden_tag() }}
            <div class="mb-3">{{ form.type.label }}{{ form.type(class_='form-select') }}</div>
            <div class="mb-3">{{ form.opening_balance.label }}{{ form.opening_balance(class_='form-control') }}</div>
            <div class="mb-3">{{ form.submit(class_='btn btn-primary') }}</div>
        </form>
    </div>
</div>
{% endblock %}